head .img{
    border: 2px solid rebeccapurple;
    border-radius: 300px;

}
body{
    background: linear-gradient(to right,whitesmoke,wheat);
    /* background-color:whitesmoke; */
    background-size: cover;
    color: rgb(0, 0, 0);
}
hr{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30pt;
    position: fixed;
    right: auto;
    left: auto;
    top: 0%;
    margin: auto;
    background: orange;
    width: 85%;
    border-radius: 20px;
    padding: 10px;
    z-index: 9;
}
nav div.logo{
    display: flex;
    width: 300px;
    gap: 20px;
}
nav div.logo .badge {
    background: brown ;
    width: 50px;
    text-align: center;
    color: white;
    border-radius: 50px;   
}
nav div.menu ul{
    width: 80%;
    display: flex;
    list-style: none;
    gap: 70px;
    font-size: 20pt;
    align-items: center; 
}
nav div.menu li:hover{
    scale: 1;
}
nav .menu ul a {
    color: brown;
    text-decoration: none;
}
nav .menu ul li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    background-color: rgb(126, 12, 57) ;
    width: 0;
    border-radius: 3px;
    transition: width 0.3s ease, left 0.3s ease ;
}
nav .menu ul li a:hover{
    color:rgb(242, 242, 242);
}
nav .menu ul li a:hover::after{
    width: 100%;
    left: 0;
    height: 3px;
}
li#style_contact{
    padding: 10px;
    border-radius: 15px;
    background:black;
    color: rgb(212, 203, 203);
}
li#style_contact a{
    color: white;
}
div.nom h1{
    font-size: 35pt;
     color: rgb(126, 12, 57);
     animation: slideH1 3s ;
}
@keyframes slideH1 {
    from{
      opacity: 0;
      transform: translateX(-60px)
    }
    to{
     opacity: 1;
     transform: translateX(0);
    }
    
}
h6{
    font-size: 30pt;
    text-decoration: underline;
}
div.nom p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: justify;
    animation: slideP 8s ease forwards;
}
@keyframes slideP {
    from{
          opacity: 0;
      transform: translateY(-60px)
    }
    to{
     opacity: 1;
     transform: translateY(0);
    }
}
div.nom p:focus-visible{
    animation: slideP 8s ease forwards;
}
div.container{
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.presentation{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 200px;
    gap: 25px;
    background: url(./Hi-tech\ neon\ HUD\ user\ interface\ animation-\ Kritrimvault.mp4);
}
div.nom{
    width: 50%;
}
div.nom a{
    text-decoration: none;
    color: white;
}
div.nom2{
    justify-content: center;
    font-size: 20pt;
    text-align: left;
    justify-content: space-between;
}
div.nom2 strong{
    color: #ffb400;
}
div.presentation img{
    height: 500px;
    width: 500px;
    border: 1px solid  orange;
    border-radius: 250px;
    box-shadow: 4px 4px 0 0 rgb(209, 174, 0) ;
    object-fit: cover;
}
button{
    padding: 10px 20px;
    width:max-content;
    background: orange;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15pt;
}
#btn_submit{
    grid-area: bt;
    cursor: pointer;
    background-color: orange;
    transition: 0.2s;
}
#btn_submit :hover{
    background-color: brown;
    
}
section.projet{
    padding-top: 100px;
    padding-bottom: 150px;
}
section.projet h1{
    color:orange ;
    text-align: center;
    font-size: 40pt;
    text-decoration: underline;
}
section.projet h3{
    text-align: center;
    font-size: 15pt;
    margin: 0%;
    padding: 0%;
    margin-bottom: 40px;
}
div.projet_container{
    display: flex;
    gap: 40px;
    justify-content: center;
}
div.projet_container div.card_projet{
    width: 400px;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: white;
}
div.projet_container p{
    padding: 15px;
    margin-top: 0%;
    margin: 0%;
}

div.projet_container img{
 width: 100%;
 border-radius: 20px 20px 0 0;
}
div.projet_container div.button{
    display: flex;
    justify-content: center;
}
section.Competences{
    padding-top: 100px;
}
div.flA{
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
div.flA p{
    font-style: italic;
    font-size: 25pt;
    text-align: left;
    color: rgb(102, 84, 12);
}
div.flA img{
    border-radius: 20px;
}
section.Competences h1{
    border-radius: 30px;
    padding-bottom: 10px;
   color:orange;
    text-align: center;
    font-size: 40pt;
    text-decoration: underline;
}
div.flA1{
    /* border: 1px solid orange; */
    display: flex;
    border-radius: 20px;
    width: 100%;
    background-color: white;
}
div.flA1 img{
    height: 100px;
    width: 100px;
}
div.flA1 div.range{
    width: 100%;
    height: 0.5em;
    background: linear-gradient(90deg, #ffb400 80%, #fff 20%);
    outline: 1.5px solid #ffb400;
    border: 1.5px solid #fff;
    border-radius: 0.5em;
}
div.flA2{
    /* border: 1px solid orange; */
    display: flex;
    border-radius: 20px;
    background-color: white;
}
div.flA2 img{
    height: 100px;
    width: 100px;
}
div.range2{
    width: 100%;
    height: 0.5em;
    background: linear-gradient(90deg, #ffb400 70%, #fff 30%);
    outline: 1.5px solid #ffb400;
    border: 1.5PX solid #fff;
    border-radius: 0.5em;
}
div.flA3{
    padding: 10px;
    font-size: 15pt;
    text-align: left;
    border-radius: 0 0 30px 30px;
    background-color: white;
}
div.flA3 p{
    font-style: italic;
    color: rgb(102, 84, 12);
    text-align: start;
    font-size: 15pt;
}
div.flA4{
    border: 1px solid  orange;
    border-radius: 20px;
    margin-top: 50px;
    background-color: white;
}
div.flA4 h2{
    font-style: italic;
    font-size: 25pt;
    text-decoration: underline;
    color: rgb(0, 179, 255);
}
div.flA4 div{
    margin: auto;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.flA4 h3{
    font-size: 18pt;
}
div.flA4 p{
    margin-left: 30px;
    font-style: italic;
    font-size: 15pt;
}
main.Parcours{
    padding-top: 170px;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
main.Parcours fieldset{
    border-radius: 20px;
    border-color: orange;
}
main.Parcours legend{
    color:orange ;
    font-size: 40pt;
    text-decoration: underline;
}
main.Parcours div.pA{
    margin-bottom: 100px;
    display: flex;
    gap: 90px;
    padding: 60px;
}
main.Parcours div.pA1{
    border: 1px;
    border-radius: 30px;
    text-align: left;
    padding: 10px;
    background-color: white;
}
main.Parcours div.pA2{
    border: 1px ;
    border-radius: 30px;
    margin: 15px;
    text-align: left;
    padding: 15px;
    background-color:white;
}
main.Parcours div.pA3{
    border: 1px solid  orange;
    border-radius: 20px;
    margin: 15px;
    margin-top: -10%;
    margin-bottom: 50px;
    background-color: white;
}
footer{
    font-size: 15pt;
    margin: auto;
    padding-top:100px;
}
div.bas_page{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.bas_page h1{
    color:rgb(3, 3, 3);
    text-align: center;
    font-size: 40pt;
    text-decoration: underline;   
}
div.bp{
    /* flex-direction: column-reverse; */
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    background-color: white;
}
div.bp div{
    gap: 8px;
}
div.bp1{
    width: 90%;
    flex-direction: column;
}
div.bp1 i{
    padding: 50px;
    width: 20px;
    height: 20px;
    font-size: 60pt;
    text-align: center;
    color: orange;
}
form.bp2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin-top: 100px;
}
form.bp2 h3{
    font-size: 30pt;
    font-style: italic;
}
form.bp2 div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 5px;  
}
form.bp2 input{
    width: 500px;
    height: 30px;
    border-right: black;
    border-top: black;
    border-radius: 0 10px 0 0 ;
    outline: none;
    background-color: white;
}
form.bp2 div.bp2A{
    display: flex;
}
form.bp2 .btn_action{
    display: flex;
    flex-direction:row-reverse;
    justify-content: end;
}
form.bp2 .btn_action a{
    text-decoration: none;
    color: white;
}
textarea{
    border-top: black;
    border-right: black;
    border-radius: 0 20px 0 0;
    background-color: white;
}
textarea,placeholder{
    padding: 10px;
    /* position: fixed; */
}
div.Localisation{
    justify-content: space-between;
    width:80%;
    margin: auto;
    margin-top: 100px;
    /* border: 0.5px solid rebeccapurple; */
    border-radius: 20px;
    padding:100px
}
div.Localisation h2{
    text-decoration: underline;
    font-size: 29pt;
    color: orange;
}
div.Localisation img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
div.Loca001{
    display: flex;
    justify-content: space-between;
    width: 50% 50%;
}
div.L1{
    /* border: 0.5px solid orange; */
    border-radius: 20px 0 0 0;
    padding: 10px;
    width: 500PX;
    background-color: white;
}
div.L1 i{
    font-size: 50pt;
    color: orange;
    margin-left: 200px;
}
div.L2{
    /* border: 0.5px solid orange; */
    border-radius: 0 20px 0 0;
    padding: 10px;
    width: 300PX;
    background-color: white;
}
div.L2 i{
    font-size: 50pt;
    color: orange;
    text-align: center;
    margin-left: 100px;
}
div.L3{
    border: 0.5px;
    border-radius:0 0 20px 20px;
    padding: 30px;
    background-color: white;
    margin-top: 50px;
}






@media (max-width:1000px) {
    nav{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav:hover ul{
        display: flex !important;
    }
    nav ul{
        flex-direction: column;
        display: none !important;
    }
    div.container{
        width: 100vw;
        overflow-x: hidden;
    }
    div.presentation{
        flex-direction: column-reverse;
        width: 100VW;
        padding: 0;
        margin: 2vw;
        margin-top: 150px;
    }
    div.presentation .nom{
        width: 100vw;

    }
    div.presentation h1{
        width: 90%;
        font-size: 7vw;
    }
    div.presentation p{
        width: 90%;
        font-size: 3vw;
        padding: 5px;
    }
    div.presentation img{
        margin: auto;
        width: 80%;
        height: auto;
    }
    section.projet{
        width: 100vw;
    }
    section.projet h1{
        font-size: 5vw;
    }
    section.projet h3{
        font-size: 3vw;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    div.projet_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.Competences{
        width: 100vw;
    }
    section.Competences h1{
        font-size: 5vw;
        text-transform: uppercase;
    }
    div.flA1, div.flA2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
    }
    main.Parcours{
        width: 100vw;
        font-size: 20pt;
    }
    main.Parcours fieldset{
        width: 90%;
        margin: auto;
    }

    
    main.Parcours .pA{
        flex-direction: column;
    }
    footer{
        width: 100vw;
    }
    div.bas_page{
        width: 100vw;
    }
    div.bp{
        width: 80%;
        flex-direction: column;
    }
    form.bp2 input{
        width: 100%;
    }
    div.Localisation{
        width: 90%;
        flex-direction: column;
        padding: 5px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }
}
@media  (max-width: 1350px) {
    nav{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
